<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <!-- <title>Document</title> -->
    {% block title %} {% endblock%}
</head>

<body>
    <!-- <div class="container"> -->
    <!-- navbar-expand-lg bg-body-tertiary -->
    <nav class="navbar navbar-light bg-primary justify-content-between">
        <div class="container">
            <ul class="nav navbar-nav flex-row float-right">
                {% if 'user_username' in session %}
                <a class="navbar-brand text-light" href="/username/{{session['user_username']}}">Feedback</a>
                <li class="nav-item">
                    <a class="nav-link pr-3 text-light" href="/logout">Logout</a>
                </li>
                {% else %}
                <a class="navbar-brand text-light" href="/login">Feedback</a>
                <li class=" nav-item">
                    <a class="nav-link pr-3 text-light" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pr-3 text-light" href="/login">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!--           
            <a class="navbar-brand" href="/">Feedback</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
         -->
    </nav>
    <!-- </div> -->


    <!-- Since we're using bootstrap. Added class='container' so taht all of our 
    html templates will have container and be centered on the screen -->
    <div class="container" style="margin-top: 2em">

        {% for category, msg in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{category}}">{{ msg }}</div>
        {% endfor %}
        <!-- {% for category, msg in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{category}}">{{ msg }}</div>
        {% endfor %} -->

        {% block content%} {% endblock %}

    </div>
</body>

</html>