{% extends 'base.html' %}

{% block content %}

<h1>Edit Feedback</h1>
<p>Edit your feedback below</p>

<form action="/feedback/{{feedback.id}}/update" method="POST">
    {{form.hidden_tag()}}

    {{form.title.label(class_='text-success')}}

    {{form.title(class_="form-control", value=feedback.title)}}

    {{form.content.label(class_='text-success mt-3')}}

    {{form.content(class_="form-control", value=feedback.content)}}

    <button class="btn btn-success mt-4" type="submit">Submit</button>
</form>

{% endblock %}